.HomeFULL {
    background-color: #fdf5ea;
    padding-top: 10vh;
    height: 90vh;
    background-image: url("../../assets/Yoshimura.png");
    background-size: cover;
    
}

.HomeInDiv {
    text-align: center;
    padding-top: 20vh;
}
