.MenuFULL {
    background-color: #fdf5ea;
    background-image: url("../../assets/ALLMIGHT.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding-top: 14vh;
    text-align: center;
    width: 100%;
}

.MenuInDiv {
    /* background-color: wheat; */
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: inline-block; 
}
