.MenuFULL {
    background-color: white;
    height: max-content;
    padding-top: 14vh;
    text-align: center;
    width: 100%;
}

.MenuInDiv {
    /* background-color: wheat; */
    width: 100%;
    align-items: center;
    justify-content: center;
    display: inline-block; 
}
