.OrderFULL {
    background-color: #fdf5ea ;
    background-image: url("../../assets/ENDEAVOUR.png");
    background-attachment: fixed;
    background-size: cover;
    height: 86vh;
    padding-top: 14vh;
    text-align: center;
    width: 100%;
}

.OrderInDiv {
    /* background-color: wheat; */
    width: 100%;
    align-items: center;
    justify-content: center;
    display: inline-block; 
}


.confirmBttn {
    width: fit-content;
    display: inline-block;
    margin: 10px;
    background-color: #fab64f;
    border:  2px #e28902 solid;
    padding: 10px;
    font-size: 20px;
}
.confirmBttn:hover {
    background-color: #ffcc80;
}
.confirmBttn:active {
    box-shadow: 0px 0px 5px rgb(88, 88, 88);
}